-r requirements.txt

pytest==3.4.0
coverage<4.4
pytest-cov==2.4.0
codeclimate-test-reporter==0.2.3
attrs>=17.4.0
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
